<footer class="home-footer">
    <div class="home-links-container">
      <div class="home-container07">
        <div class="footer-column">
          <span class="home-text064">Product</span>
          <span class="home-text065">How it works</span>
          <span class="home-text066">Features</span>
          <span class="home-text067">Contact Us</span>
          <span class="home-text068">Blog</span>
          <span>FAQ</span>
        </div>

        <div class="footer-column">
          <span class="home-text076">Company</span>
          <span class="home-text077">About us</span>
          <span class="home-text078">Culture</span>
          <span class="home-text079">Code of conduct</span>
          <span class="home-text080">Careers</span>
          <span class="home-text081">News</span>
          <span>Contact</span>
        </div>
        
        <div class="footer-column">
          <span class="home-text092">Security</span>
          <span class="home-text093">Security status</span>
          <span class="home-text094">ISO</span>
          <span class="home-text095">System status</span>
          <span>Customer Help</span>
        </div>
        <div class="footer-column">
          <span class="home-text097">Follow</span>
          <span class="home-text098">Instagram</span>
          <span class="home-text099">Twitter</span>
          <span class="home-text100">Facebook</span>
          <span class="home-text101">Tik Tok</span>
          <span class="home-text102">Linkedln</span>
          <span>Youtube</span>
        </div>
      </div>
    </div>
  </footer>