<footer class="home-footer">
    <div class="home-links-container">
      <div class="home-container07">
        <div class="footer-column">
          <span class="home-text064">Product</span>
          <span class="home-text065"><a href="/#howitworks">How it works</a></span>
          <span class="home-text066"><a href="/#getstarted">Features</a></span>
          <span class="home-text067"><a href="/contact">Contact Us</a></span>
          <!-- <span class="home-text068">Blog</span> -->
          <span><a href="/#faq">FAQ</a></span>
        </div>

        <!-- <div class="footer-column">
          <span class="home-text076">Company</span>
          <span class="home-text077">About us</span>
          <span class="home-text078">Culture</span>
          <span class="home-text079">Code of conduct</span>
          <span class="home-text080">Careers</span>
          <span class="home-text081">News</span>
          <span>Contact</span>
        </div>
         -->
        <div class="footer-column">
          <span class="home-text092">Security</span>
          <span class="home-text093">Security status</span>
          <span class="home-text094">ISO</span>
          <span class="home-text095">System status</span>
          <span>Customer Help</span>
        </div>
        <div class="footer-column">
          <span class="home-text097">Follow</span>
          <span class="home-text097"><a href="https://www.instagram.com" target="_blank">Instagram</a></span>
          <span class="home-text098"><a href="https://www.twitter.com" target="_blank">Twitter</a></span>
          <span class="home-text099"><a href="https://www.facebook.com" target="_blank">Facebook</a></span>
          <span class="home-text100"><a href="https://www.tiktok.com" target="_blank">TikTok</a></span>
          <span class="home-text101"><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></span>
          <span><a href="https://www.youtube.com" target="_blank">YouTube</a></span>
          
        </div>
      </div>
    </div>
  </footer>