{% extends 'base.html' %}

{% block content %}

  <body>
    <link rel="stylesheet" href="../static/css/style.css" />
    <div>
      <link href="../static/css/user_index.css" rel="stylesheet" />

      <div class="home-container">
        <div class="home-hero hero-container section-container">
          <div class="home-max-width1 max-width">
            <div class="home-content">
              <span class="home-subtitle beforeHeading">
                DEEPFAKE DETECTION SYSTEM
              </span>
              <h1 class="home-title">
                <span>Unmasking deepfakes with</span>
                <span class="home-text013">DeepTective AI</span>
              </h1>
              <span class="home-description">
                Our deep learning algorithms detect manipulated images and
                videos with industry-leading accuracy. Upload your media and get
                instant results.
              </span>
              <div class="home-container01">
              <a href="/upload">
                <button class="button button-gradient">Get started</button>
                </a>
              </div>
            </div>
            <div class="home-image2">
              <img
                alt="image"
                src="../static/images/union-400h.png"
                class="home-graphic-top"
              />
              <img
                alt="image"
                src="../static/images/group 18-1200w.png"
                class="home-image3"
              />
              <img
                alt="image"
                src="../static/images/deepfake(1)-900w.jpg"
                class="home-hero-image"
              />
            </div>
          </div>
        </div>
        <div class="section-container">
          <div class="home-max-width2 max-width">
            <div class="home-image4">
              <img
                alt="image"
                src="../static/images/upload-1200w.jpg"
                class="home-hero-image1"
              />
            </div>
            <div class="home-content1">
              <span id = "howitworks" class="home-text014 beforeHeading">how it works</span>
              <h1 class="home-text015">
                <span>Upload a</span>
                <span class="home-text017">file</span>
                <span>or paste a</span>
                <span class="home-text019">social media post link</span>
                <br />
              </h1>
              <span class="home-text021">
                Our proprietary algorithms can analyze images to
                identify signs of manipulation. We support common formats like
                JPG and PNG.
              </span>
              <div class="home-container02">
                <!-- <button class="button-secondary button bg-transparent">
                  Learn more
                </button> -->
              </div>
            </div>
          </div>
        </div>
        <div class="home-section1 section-container">
          <div class="home-max-width3 max-width">
            <div class="home-content2">
              <span class="home-text022 beforeHeading">ANALYSE YOUR FILES</span>
              <h1 class="home-text023">
                <span class="home-text024">Detect deepfake</span>
                <span class="home-text025">with our detection models</span>
                <br />
              </h1>
              <span class="home-text027">
                Receive comprehensive results indicating whether the uploaded
                content is a deepfake or not along with confidence score.
              </span>
              <div class="home-container03">
                <!-- <button class="button-secondary button bg-transparent">
                  See how
                </button> -->
              </div>
            </div>
            <div class="home-image5"></div>
            <img
              alt="image"
              src="../static/images/deepfake-600h.jpg"
              class="home-hero-image2"
            />
          </div>
        </div>
        <div class="home-section2 section-container">
          <div class="home-max-width4 max-width">
            <div class="home-image6">
              <img
                alt="image"
                src="../static/images/register-1200w.jpg"
                class="home-hero-image3"
              />
            </div>
            <div class="home-content3">
              <span id ="getstarted"class="home-text028 beforeHeading">get started</span>
              <h1 class="home-text029">Register to DeepTective now</h1>
              <div class="home-step">
                <div class="home-number">
                  <span class="home-text030">1</span>
                </div>
                <div class="home-container04">
                  <span class="home-title1">Upload Your Media</span>
                  <span class="home-text031">
                    Drag and drop your image, video, or audio file into the designated upload area on the DeepTective web application, or paste the link to a aocial media post.
                  </span>
                </div>
              </div>
              <div class="home-step1">
                <div class="home-number1">
                  <span class="home-text032">2</span>
                </div>
                <div class="home-container05">
                  <span class="home-title2">Select Detection Algorithms</span>
                  <span class="home-text033">
                    Choose from a variety of advanced DeepFake detection algorithms available on the platform. 
                    You can select multiple algorithms to ensure a comprehensive analysis of your uploaded content.
                  </span>
                </div>
              </div>
              <div class="home-step2">
                <div class="home-number2">
                  <span class="home-text034">3</span>
                </div>
                <div class="home-container06">
                  <span class="home-title3">
                    View Results
                  </span>
                  <span class="home-text035">
                    After the analysis is complete, review the results provided by the system. You'll receive a clear indication of whether the content is a DeepFake, 
                    along with a confidence score that reflects the likelihood of manipulation..
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-container">
          <div class="home-max-width5 max-width">
            <span class="home-text036 beforeHeading">get started</span>
            <h1 class="home-text037">
              <span>No matter who you are,</span>
              <br />
              <span>DeepTective</span>
              <span>&nbsp;will come to the rescue</span>
            </h1>
            <div class="home-cards-container">
              <div class="card-card card-root-class-name">
                <div class="card-info">
                  <span class="card-text"><span>Social Media User</span></span>
                  <span class="card-text1">
                    <span>
                      Avoid being misled by fake content and ensures they share only genuine media.
                    </span>
                  </span>
                </div>
              </div>
              <div class="card-card card-root-class-name2">
                <div class="card-info">
                  <span class="card-text"><span>Journalist</span></span>
                  <span class="card-text1">
                    <span>
                      Helps maintain the integrity of their reporting 
                      by ensuring that they only use accurate media in their stories.
                    </span>
                  </span>
                </div>
              </div>
              <div class="card-card card-root-class-name1">
                <div class="card-info">
                  <span class="card-text"><span>Parents</span></span>
                  <span class="card-text1">
                    <span>
                      Protect their children from potentially
                      harmful or misleading DeepFake content.
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-section4 section-container">
          <div class="home-max-width6 max-width">
            <div class="home-faq">
              <div class="home-questions">
                <span class="home-text042 beforeHeading">faq</span>
                <h1 class="home-text043">
                  <span class="home-text044">Frequently Asked</span>
                  <br />
                  <span class="home-text046">Questions</span>
                </h1>
                <div data-role="Accordion" class="question">
                  <div data-type="accordion-header" class="home-trigger">
                    <span class="home-text047">What is DeepTective?</span>
                    <svg viewBox="0 0 1024 1024" class="home-icon10">
                      <path
                        d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
                      ></path>
                    </svg>
                  </div>
                  <div data-type="accordion-content" class="question-content">
                    <span class="home-text048">
                      DeepTective is an online tool that uses deep learning models to detect if images, videos, or audio files are deepFakes and helps users verify the authenticity of multimedia content.
                    </span>
                  </div>
                </div>
                <div data-role="Accordion" class="question">
                  <div data-type="accordion-header" class="home-trigger1">
                    <span class="home-text049">
                      Is Deeptective free to use?
                    </span>
                    <svg viewBox="0 0 1024 1024" class="home-icon12">
                      <path
                        d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
                      ></path>
                    </svg>
                  </div>
                  <div data-type="accordion-content" class="question-content">
                    <span class="home-text050">
                    Yes, DeepTective is free to use for basic deepfake detection services. 
                    </span>
                  </div>
                </div>
                <div data-role="Accordion" class="question">
                  <div data-type="accordion-header" class="home-trigger2">
                    <span class="home-text051">
                      Can DeepTective detect deepfakes in real time?
                    </span>
                    <svg viewBox="0 0 1024 1024" class="home-icon14">
                      <path
                        d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
                      ></path>
                    </svg>
                  </div>
                  <div data-type="accordion-content" class="question-content">
                    <span class="home-text052">
                      DeepTective does not currently support real-time deepfake detection. 
                      Users need to upload a file or provide a link to a social media post for analysis.
                    </span>
                  </div>
                </div>
                <div data-role="Accordion" class="question">
                  <div data-type="accordion-header" class="home-trigger3">
                    <span class="home-text053">
                      How accurate are the detection algorithms?
                    </span>
                    <svg viewBox="0 0 1024 1024" class="home-icon16">
                      <path
                        d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"
                      ></path>
                    </svg>
                  </div>
                  <div data-type="accordion-content" class="question-content">
                    <span class="home-text054">
                      To improve the confidence score of the detection results, make sure to provide high-quality media files with clear visuals and minimal compression artifacts.
                    </span>
                  </div>
                </div>
              </div>
              <img
                alt="image"
                src="../static/images/group 2-1200w.png"
                class="home-image7"
              />
            </div>
            <div class="home-banner">
              <span class="home-text055 beforeHeading">get started</span>
              <h1 class="home-text056">
                <span>Join the Fight</span>
                <br />
                <span>Against Fake News.</span>
              </h1>
              <span class="home-text060">
                <span>Start Using DeepTective Today!</span>
              </span>
              <div class="home-btns">
                <a href="#howitworks"><button class="home-button08 button button-transparent">
                  How it works</a>
                </button>
                <button class="home-button09 button button-gradient">
                  Get started
                </button>
              </div>
            </div>
          </div>
        </div>
        <script defer="">
          window.onload = () => {
            const runAllScripts = () => {
              initializeAllAccordions()
            }
    
            const listenForUrlChanges = () => {
              let url = location.href
              document.body.addEventListener(
                'click',
                () => {
                  requestAnimationFrame(() => {
                    if (url !== location.href) {
                      runAllScripts()
                      url = location.href
                    }
                  })
                },
                true
              )
            }
    
            const initializeAllAccordions = () => {
              const allAccordions = document.querySelectorAll('[data-role="Accordion"]');
    
              allAccordions.forEach((accordion) => {
                const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
                const accordionContent = accordion.querySelector('[data-type="accordion-content"]')
    
                accordionHeader.addEventListener('click', () => {
                  if (accordionContent.style.maxHeight) {
                    accordionContent.style.maxHeight = ''
                  } else {
                    accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
                  }
                })
              })
            }
    
            listenForUrlChanges()
            runAllScripts()
          }
        </script>
        <script
          defer=""
          src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
        ></script>
        {% endblock %}

        </div>
    </div> 
  </body>
</html>
